body {
  background-color: #f0f0f0;
}
.shenpi-jilu {
  padding-top: 0.85333333rem;
  margin-left: 0.93333333rem;
  border-left: 1px solid #ddd;
}
.shenpi-jilu .jilu-step {
  margin-bottom: 0.42666667rem;
  margin-left: 0.53333333rem;
  padding: 0.26666667rem;
  border: 1px solid #ddd;
  border-radius: 0.08rem;
  width: 7.82666667rem;
  background-color: #fff;
  position: relative;
}
.shenpi-jilu .jilu-step .zhebi {
  z-index: 100;
  width: 10px;
  height: 100%;
  background-color: #f0f0f0;
  position: absolute;
  left: -0.65rem;
  top: 0.65rem;
}
.shenpi-jilu .jilu-step > img {
  width: 0.38666667rem;
  position: absolute;
  left: -9%;
  top: 0.26666667rem;
}
.shenpi-jilu .jilu-step .pop-border {
  z-index: 10;
  position: absolute;
  top: 0.32rem;
  left: -0.10666667rem;
  border-top: 0.1rem solid transparent;
  border-right: 0.10666667rem solid #ddd;
  border-bottom: 0.1rem solid transparent;
}
.shenpi-jilu .jilu-step .pop-point {
  z-index: 11;
  border-right: 0.10666667rem solid #fff;
  left: -0.09333333rem;
}
.shenpi-jilu .jilu-step .step-title {
  margin-bottom: 0.25333333rem;
  height: 0.37333333rem;
  line-height: 0.37333333rem;
}
.shenpi-jilu .jilu-step .step-title .step-title-name {
  color: #333;
}
.shenpi-jilu .jilu-step .step-title .step-title-date {
  color: #999;
}
.shenpi-jilu .jilu-step .step-content-state1 {
  line-height: 0.61333333rem;
  color: #a5cd5f;
  width: 28%;
}
.shenpi-jilu .jilu-step .step-content-state2 {
  line-height: 0.61333333rem;
  color: #fa755f;
  width: 28%;
}
.shenpi-jilu .jilu-step .step-content-approve {
  line-height: 0.61333333rem;
  word-wrap: break-word;
  width: 70%;
  color: #2c2c2c;
}
