body {
    position: relative;
}
.signers {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.signer {
    position: absolute;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border: transparent 2px solid;
    border-radius: 75px;
    width: 150px;
    height: 150px;
}
.selected {
    border: #0c53a9 2px solid;
}
.signer-cover {
    position: absolute;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    pointer-events: none;
    width: 152px;
    height: 152px;
    border-radius: 76px;
    font-size: 100px;
    line-height: 150px;
    background-color: rgba(0,0,0,.3);
    color: white;
    z-index: 999;
    display: none;
    text-align: center;
}
table {
    border-collapse: collapse;
}