body {
  background-color: #fff;
}
.shenpi {
  background-color: #f0f0f0;
  position: relative;
}
.shenpi .shenpi-infor {
  background-color: #fff;
  padding-left: 0.56rem;
}
.shenpi .shenpi-infor li {
  border-top: 1px solid #ddd;
  line-height: 0.77333333rem;
  padding: 0.26666667rem 0;
  position: relative;
}
.shenpi .shenpi-infor li img{
  width:0.2266rem;
  position: absolute;
  right: 0.53rem;
  top:35%;

}
.shenpi .shenpi-infor li .link{
  color: #22a9fb;
  padding-right:1rem;
}
.shenpi .shenpi-infor li .items-title {
  width: 25%;
  color: #999;
}
.shenpi .shenpi-infor li .items-content {
  width: 70.5%;
  color: #666;
  word-wrap: break-word;
}
.shenpi .shenpi-infor li:nth-child(1) {
  border: none;
}
.shenpi .shenpi-file {
  background-color: #fff;
  margin-top: 0.29333333rem;
}
.shenpi .shenpi-file div {
  
  line-height: 1.22666667rem;
  border-bottom: 1px solid #ddd;
}
.shenpi .shenpi-op div {

  line-height: 1.22666667rem;
}
.shenpi .shenpi-file .file-title {
  color: #999;
  padding-left: 0.56rem;
}
.shenpi .shenpi-file .file-name {
  text-align: center;
}
.shenpi .shenpi-file .file-name a {
  text-decoration: underline;
  color: #007bf8;
}
.shenpi .shenpi-buttons {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  padding: 0.4rem 0.45333333rem;
}
.shenpi .shenpi-buttons .button {
  display: block;
  float: left;
  height: 0.90666667rem;
  text-align: center;
  line-height: 0.90666667rem;
  border: 1px solid #2daaff;
  border-radius: 0.12rem;
  color: #2daaff;
  margin-right: 0.27rem;
}
.shenpi .shenpi-buttons .button:focus {
  color: #fff;
  background-color: #2daaff;
}
.shenpi .shenpi-buttons .btn1 {
  width: 1.66666667rem;
}
.shenpi .shenpi-buttons .btn2 {
  width: 1.94666667rem;
}
.shenpi .shenpi-buttons .btn3 {
  width: 2.21333333rem;
}
.shenpi .shenpi-buttons .btn4 {
  width: 2.21333333rem;
  margin-right: 0;
}

.shenpi .shenpi-infor {
  background-color: #fff;
  padding-left: 0.56rem;
}
.shenpi .shenpi-infor li {
  border-top: 1px solid #ddd;
  line-height: 0.77333333rem;
  padding: 0.26666667rem 0;
}
.shenpi .shenpi-infor li .items-title {
  width: 25%;
  color: #999;
}
.shenpi .shenpi-infor li .items-content {
  width: 70.5%;
  color: #666;
  word-wrap: break-word;
}
.shenpi .shenpi-infor li:nth-child(1) {
  border: none;
}
.shenpi .shenpi-file {
  background-color: #fff;
  margin-top: 0.29333333rem;
}
.shenpi .shenpi-file div {
  
  line-height: 1.22666667rem;
  /*border-bottom: 1px solid #ddd;*/
}
.shenpi .shenpi-file .file-title {
  color: #999;
  padding-left: 0.56rem;
}
.shenpi .shenpi-file .file-name {
  text-align: center;
  padding: 0.4rem 0;
  line-height: normal;
}
.shenpi .shenpi-file .file-name a {
  text-decoration: underline;
  color: #007bf8;
}
.shenpi .shenpi-content {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding-left: 0.56rem;
  border-top:0.2666rem solid #f0f0f0;
}
.shenpi .shenpi-content li{
  border-top: 1px solid #ddd;
  line-height: 0.77333333rem;
  padding: 0.26666667rem 0;
}
.shenpi .shenpi-content li .content-title{
  width: 25%;
  color: #999;
}
.shenpi .shenpi-content li .content-result{
  width: 70.5%;
  color: #666;
}
.shenpi .shenpi-content li:first-child{
  border:none;
}
/*可以根据不同状态改变颜色*/
.shenpi .shenpi-content li:first-child .content-result{
  color: #ff4c68;
}