body {
  background-color: #f0f0f0;
}
.yijian {
  position: relative;
}
.yijian .yijian-content {
  display: block;
  height: 4.48rem;
  width: 80%;
  border: 1px solid #ddd;
  border-radius: 0.12rem;
  margin: 0.56rem auto 0;
  padding: 0.42666667rem;
  resize: none;
}
.yijian .yijian-content:focus {
  border: 1px solid #ddd;
  border-radius: 0.12rem;
}
.yijian .yijian-buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ddd;
  padding: 0.4rem 0.45333333rem;
}
.yijian .yijian-buttons a {
  display: block;
  width: 90%;
  height: 0.90666667rem;
  text-align: center;
  line-height: 0.90666667rem;
  border: 1px solid #2daaff;
  border-radius: 0.12rem;
  color: #2daaff;
}
.yijian .yijian-buttons a:focus {
  color: #fff;
  background-color: #2daaff;
}
